.bg{
  background-color: #eeeeee;
  height: 70%;
  width: 90%;
  border-radius: 7px;
}

.students{
  width: 18rem;
  float: left;
  overflow-y: auto;
  margin-bottom: 1%;
}

.students{
  margin-left: 6%;
}

.scroll{
  overflow-y: auto;
  height: 450px;
}

.searchbar{
  width: 80%;
  float: left;
  margin-left: 5%;
}

.btn-add{
  margin-left: 3%;
}
